table, td, th{
    border-top: 1px solid;
    border-collapse: collapse;
    padding: 25px;
}

table{
    width: 75%;
    
}
th{
    background-color: dodgerblue;
    color: white;
    font-size: large;
}

div td{
    font-size: larger;
}

div{
    margin: 10px 0px;
}

caption{
    background-color: orange;
    line-height: 25px;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 20px;
    width: 50%;
    border-radius: 5px;
    margin: auto;
}